.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
  width: 100vw;
  background-color: #000;

  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  grid-area: footer;

  @media screen and (max-width: 960px) {
    font-size: 12px;
    width: 375px;
  }
}
.container img {
  height: 44px;
  width: 120px;
  @media screen and (max-width: 960px) {
    height: 39px;
    width: 122px;
  }
}
