.nav-container {
  display: flex;
  justify-content: center;
}
.nav {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  width: 1240px;
  @media only screen and (max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    @media only screen and (max-width: 960px) {
      width: 150px;
      padding-right: 20px;
    }

    a {
      text-decoration: none;
      font-size: 24px;

      &:visited {
        color: #ff6060;
      }

      @media only screen and (max-width: 960px) {
        font-size: 16px;
      }
    }
  }

  &__logo img {
    height: 55px;
    @media only screen and (max-width: 960px) {
      height: 38px;
      margin-left: 20px;
    }
  }
}
